.Button {
	margin: 5px;
	height: 20px;
	cursor: pointer;
}

.ButtonLarge:active {
	height: 30px;
	font-size: 15px;
	background-color: #67bcba;
	color: white;
	border-width: 0px;
	border-radius: 2px;
}

.ButtonLarge {
	height: 30px;
	font-size: 15px;
	background-color: #C1464E;
	color: white;
	border-width: 0px;
	border-radius: 2px;
}