.ChannelListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
}
.ChannelItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    direction: ltr;
    width: 300px;
    background-color: #fff;
    border-bottom: black;
    border-bottom-width: 2px;
}

.IconButton {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.BellIcon {
    width: 50px;
    cursor: pointer;
}

.ChannelDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.ChannelDisplay:hover  {
    background-color: #f85441;
    border-color: #f85441;
    color: #fff;
    cursor: pointer;
}

.ChannelDisplay:active {
    background-color: #df4b3a;
    color: #fff;
    border-color: #df4b3a;
}

.ActiveChannel {
    background-color: #f85441;
    border-color: #f85441;
}

.ChannelTitle {
    /*font-size: 20px;*/
    text-align:'left';
	margin-left: 10px;
    white-space: nowrap;
    float: left;
    cursor: pointer;
}

.ArrowIcon {
    width: 40px;
    height: 40px;
    float: right;
}

.hidden {
    display: none;
}

@media (max-width:768px) {
    .ChannelTitle {
        font-size: 16px;
    }
    
    .ArrowIcon {
        width: auto;
        height: 40px;
    }

    .BellIcon {
        width: 30px;
        padding: 10px;
    }
}