.ChannelListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    margin-bottom: 21px;
    width: fit-content;
    border-radius: 6px;
    border: 1px solid #CCC;
}
.ChannelItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    direction: ltr;
    width: 250px;
    line-height: 12px;
    background-color: #fff;
    border-bottom: black;
    border-bottom-width: 2px;
}

.IconButton {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.BellIcon {
    height: 25px;
    cursor: pointer;
}

.ChannelDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.ChannelItem:hover  {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    cursor: pointer;
}

.ChannelItem:active {
    background-color: #DDD;
    border-color: #DDD;
}

.ActiveChannel {
    background-color: #EEE;
    border-color: #EEE;
}

.ChannelTitle {
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    text-align:'left';
	margin-left: 10px;
    white-space: nowrap;
    float: left;
    cursor: pointer;
}

.ArrowIcon {
    width: 40px;
    height: 40px;
    float: right;
}

.hidden {
    display: none;
}

@media (max-width:960px) {
    .ChannelTitle {
        font-size: 16px;
    }
    
    .ArrowIcon {
        width: auto;
        height: 40px;
    }

    .BellIcon {
        width: 30px;
        padding: 10px;
    }
}