.ChannelItem {
    flex: 1;
    flex-direction: "row";
    justify-content: flex-start;
    /* align-self: "stretch"; */
    align-items: "center";
    border-bottom-color: '#CCCCCC';
    border-bottom-width: 1;
	height: 150;
	width: 100%;
    padding-left: 5;
    z-index: -1;
    background-color: #fff;
    direction: ltr;
}

.BellIcon {
    width: 50px;
    cursor: pointer;
}

.IconButton {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.ChannelButton {
    background-color: #fff;
    border: none;
    height: 100%;
}

.ChannelButton:hover  {
    background-color: #f85441;
    border-color: #f85441;
    color: #fff;
    cursor: pointer;
}

.ChannelButton:focus {
    background-color: #df4b3a;
    color: #fff;
    border-color: #df4b3a;
}

.ChannelListButton {
    flex: 1;
    flex-direction: 'row';
    justify-content: 'space-between';
    align-items: 'center';
    margin-left: 10;
}

.ChannelTitle {
    /*font-size: 20px;*/
    text-align:'left';
	margin-left: 10px;
    white-space: nowrap;
    float: left;
    cursor: pointer;
}

.ArrowIcon {
    width: 40px;
    height: 40px;
    float: right;
}

.hidden {
    display: none;
}

@media (max-width:768px) {
    .ChannelTitle {
        font-size: 16px;
    }
    
    .ArrowIcon {
        width: auto;
        height: 40px;
    }

    .BellIcon {
        width: 30px;
        padding: 10px;
    }
}