.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Body {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.HeaderButton {
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ChannelList {
    flex-grow: 2;
    float: right;
    margin-bottom: 10;
    overflow: auto;
    direction: rtl;
    height: 100%;
    background-color: white;
    border-width: 1px;
    border-color: #EEEEEE;
}

.Channel {
	height: 30px;
	padding: 5px;
}

.Feed {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HoverProfilePlaceholder{
    flex-grow: 1;
    min-width: 200px;
}

.mobileMenuBtn {
    display:none;
    background-color: transparent;
    border: transparent;
    color: #fff;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobileMenuBtn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #009999;
}

.mobileMenuBtnRow {
    width:100%;
    background-color: #009999;
    border-color: #009999;
    display: none;
}

@media (max-width:960px){
    .mobileMenuBtn {
        text-align: center;
        display: block;
    }
    .ChannelList {
        height: auto;
        padding: 10px;
        width: 100%;
        position: relative;
    }

    .hideMobile{
        display: none;
    }
    .Body {
        display: block;
    }

    .Channel {
        height: 15px;
        padding: 5px;
        font-size: 12px;
    }

    .mobileMenuBtnRow {
        display: block;
    }
    .Feed {
        margin-left: 10px;
        margin-right: 10px;
    }
}
