.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Body {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ChannelList {
    flex-grow: 1;
    position: fixed;
    height: 100%;
    background-color: #009999;
    padding: 10px;
}

.Channel {
	height: 30px;
	padding: 5px;
}

.Feed {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChannelListTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}