.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Body {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ChannelList {
    flex-grow: 1;
    position: fixed;
    height: 100%;
    background-color: #009999;
    padding: 10px;
    overflow: scroll;
    direction: rtl;
}

.Channel {
	height: 30px;
	padding: 5px;
}

.Feed {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChannelListTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobileMenuBtn {
    display:none;
    background-color: transparent;
    border: transparent;
    color: #fff;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobileMenuBtn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #009999;
}

@media (max-width:768px){
    .mobileMenuBtn {
        text-align: center;
    }
    .ChannelList {
        height: auto;
        padding: 10px;
        width: 100%;
        position: relative;
    }
    .mobileMenuBtn {
        display: block;
    }
    .hideMobile{
        display: none;
    }
    .Body {
        display: block;
    }

    .Channel {
        height: 15px;
        padding: 5px;
        font-size: 12px;
    }
}
