.card {
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 650px;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #CCC;
}

.creationCard {
  margin-bottom: 25px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.headerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.authorDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profilePic {
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  border-width: 2px;
  border: 1px solid #fc4970;
}
.channel {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  margin-left: 10px;
}

.content {
  margin: 10px;
}

.timestamp {
  padding: 0px;
  margin: 0px;
  color: grey;
}

.footers {
  margin: 10px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.likesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.likeButton {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.likeIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.creationField {
  width: 99%;
  overflow: auto;
  resize: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 5px;
}

.PostButton {
}

.ShowComments {
  text-decoration: unset;
  cursor: pointer;
  color: #fc4970;
}

.ShowComments:active {
  color: purple;
}

.NoComments {
  text-decoration: unset;
  color: #fc4970;
}

.addCommentContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.commentContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  padding-bottom: 8px;
}

.comment {
  flex: 1;
  background-color: #EEEEEE;
  border-radius: 15px 15px 15px 25px;
  padding: 10px 0px 0px 10px;
}

.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.commentProfilePic {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid #fc4970;
}

.line {
  height: 1px;
  margin-bottom: 15px; 
  background-color:  #CCCCCC;
}

.textArea {
  flex: 1;
  padding: 5px;
  width: 80%;
  resize: none;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

.postImage {
  width: 100%;
  border: 1px solid #fc4970;
}

@media (max-width:768px){
  .card {
    width: 90%;
  }
}