.card {
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 550px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.creationCard {
  margin-bottom: 25px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 10px;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channel {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  margin-left: 10px;
}

.content {
  margin: 10px;
}

.timestamp {
  padding: 0px;
  margin: 0px;
  color: grey;
}

.footers {
  margin: 10px;
  margin-top: 20px;
}

.creationField {
  width: 100%;
  overflow: auto;
  resize: none;
  font-size: 18px;
}

.PostButton {
  float: right;
}

.ShowComments {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.ShowComments:active {
  color: purple;
}

.addCommentContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.commentsContainer {
}

.comment {
  background-color: #F4F4F4;
  margin: 10px;
  padding: 15px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.line {
  height: 1px;
  background-color:  #CCCCCC;
}

.textArea {
  padding: 5px;
  width: 80%;
  box-sizing: border-box;
  resize: none;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}