.Main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 0px;
}

.Login {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 10px;
	height: 80px;
}

.LoginTitle {
	margin-right: 10px;
	margin-left: 5px;
	padding: 0px;
}

.LoginForms {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.LoginError {
	color: rgb(179, 21, 21);
	margin-left: 5px;
}

.Register {
	padding-top: 80px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.Card {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 20px;
	background-color: #FFFFFF;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.mobileLogin {
	padding-top: 90px;
	display: none;
}

@media (max-width: 960px) {
	.mobileLogin {
		display: flex;
		justify-content: center;
	}

	.Register {
		padding-top: 20px;
	}
}